[Unit]
Description=Electron Vue Weather and Bluesky Display
Requires=local-fs.target
After=network.target

[Service]
User=pi
Group=pi
Type=idle
TimeoutSec=infinity
Restart=always
RestartSec=10s
KillMode=process
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/vue3-weather-bluesky-display
ExecStart=startx /home/pi/vue3-weather-bluesky-display/dist/vue3WeatherBlueskyDisplay-0.2.0-armv7l.AppImage

[Install]
WantedBy=multi-user.target
